h1 {
    font-family: 'Sawarabi Mincho', sans-serif;
}

h2 {
    font-family: 'Hind Madurai', sans-serif;
}

h3 {
    font-family: 'Asap', sans-serif;
}
/*Background Image*/
@media (min-width: 800px) {
    .background-image {
        max-height: 700px;
    }
}

@media (max-width: 799px) {
    .background-image {
        max-height: 210px;
    }
}

.background-image {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #041324;
}

/*Header*/
.background-image:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .50); 
}

@media (min-width: 800px) {
    .hero-image{
        position: absolute;
    }

    .header {
        border: 2px solid #0c5e99;
    }

    .header p{
        font-size: 24px;
    }

    .header img{
        border-radius: 50%;
        margin-top: -5%;
        max-height: 250px;
        max-width: 250px;
        height: 50%;
        width: 50%;
    }

    .hero-image {
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-40%);
        color: #0c5e99;
        padding: 0;
    }

    .intro li{
        font-size: 50px;
    }
}

@media (max-width: 799px) {
    .header img{
        border-radius: 50%;
        margin-top: -25%;
        max-height: 100px;
        max-width: 100px;
        height: 40%;
        width: 40%;
    }

    .header h1{
        font-size: 16px;
    }

    .header p{
        font-size: 12px;
    }

    .hero-image {
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-110%);
        color: #0c5e99;
        padding: 0;
    }

    .intro li{
        font-size: 16px;
    }
}

.intro {
    padding: 0;
}

.intro ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.intro li{
    display: inline;
    padding-right: 3px;
    padding-left: 3px;
}

.intro a{
    color: #0c5e99;
}

.intro a:hover{
    color: #28c5e0;
}
/*Navigation Bar*/
.nav-bar-ground {
    background-color: #041324;
    color: #28c5e0;
}

.homeBar ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.homeBar li{
    display: inline;
    text-align: center;
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
}

.homeBar a{
    text-decoration: none
}

.homeBar a:hover{
    text-decoration: none;
    color: #28c5e0;
}

/*About Me*/
.about-me-ground {
    background-color: #0c5e99;
    color: #f7fcf8;
    padding: 20px;
}

.buttonaboutme a{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #041324;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7fcf8;
}

.buttonaboutme a:hover {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #28c5e0;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7fcf8;
}

/*Project*/
@media (min-width: 800px) {
    .project-pad {
        margin-bottom: 50px;
    }
}
.project-ground {
    background-color: #0c5e99;
    color: #f7fcf8;
}

.project-pad {
    background-color: #041324;
    border-radius: 0;
    padding: 10px;
    color: #f7fcf8;
}

.project-pic {
    padding: 0;
}

.button a{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #0c5e99;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7fcf8;
}

.button a:hover {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #28c5e0;
    border-radius: 5px;
    padding: 10px 20px;
    color: #f7fcf8;
}

/*Contact*/
@media (min-width: 800px) {
    .contact-background {
        padding: 36px 0;
    }
}

@media (max-width: 799px) {
        .contact h2, h3{
        font-size: 20px;
    }

    .contact h3 {
        font-size: 16px;
    }

    .contact p{
        font-size: 12px;
    }

    .contact-background {
        padding: 12px 0;
    } 
}

.contact-background {
    position: relative;
    background: url('../images/brightness.jpg') no-repeat;
    background-position: center 82%;
    color: #f7fcf8;
    font-size: 14px;
} 

.contact-background:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .50); 
}
/*Bottom Nav*/
.bottom-nav-ground {
    background-color: #041324;
}

.bottom-nav ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.bottom-nav li{
    display: inline;
    padding-right: 15px;
    font-size: 24px;
}

.bottom-nav a{
    color: #0c5e99;
}

.bottom-nav a:hover{
    color: #28c5e0;
}